.news_wrap {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 80px 0 50px 0;

    background: white;
}

.news_content {
    position: relative;
    display: block;
    width: 100%;

    color: white;
    font-family: 'Pro-Light';
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
    
    background-color: #f2f2f2;

    padding-top: 70px;
}

.news_article {
    display: block;
    width: 100%;
    max-width: 900px;
    color: #000000;
    margin: 0 auto 70px auto;
}

.news_article_top {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    a {
        color: #999999;
        text-decoration: none;

        svg {
            path {
                fill: #999999;
            }
        }

        &:hover,
        &:focus,
        &:active {
            color: #777777;

            svg {
                path {
                    fill: #777777;
                }
            }
        }
    }
}

.news_article_top_left {
    float: left;
    font-size: 0;
    line-height: 0;

    a {
        display: inline-block;
        width: 30px;
        height: 30px;

        svg {
            width: 100%;
            height: auto;
        }
    }
}

.news_article_top_right {
    float: right;
}

.news_article_title {
    font-family: 'Pro-SemiBold';
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.news_article_meta {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    padding-right: 30px;
}

.news_article_content {
    display: inline-block;
    width: 645px;
    vertical-align: top;
    background-color: #ffffff;
}
